img:hover {
    cursor: pointer;
}

.menu a:link{
    color: dimgrey;
    text-decoration: none;
}

.menu a:nth-child(1){

}

.menu a:hover{
    color:white;
}

.menu a:visited{
    color:dimgrey;
    
}



header {
    background-color: white;
    text-align: center;
    padding: 10px;
}

.main {
    background-color: white;
}

body{
    font-family: sans-serif;
}

.frontBox {
    background-image: url(images/DOit_desktop.png);
    background-color: rgb(10, 94, 123);
    height: 350px;
    overflow: hidden;
    position: relative;
}

.features>h2{
    color: dimgrey;
}

.feature {
    background-color: lightgrey;
    color: white;
}

.feature>h3 {
    color: white;
}

.actionText a{
    color: steelblue;
    background-color: white;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 10px;
    transition-duration: 0.1s;
    margin:5px;
    text-decoration: none;
    z-index: 1;
}

.actionText a:hover{
    text-decoration: underline;
}


.actionText a:visited{
    color:rgb(10, 94, 123);
}

.logIn{
    background-color: rgb(10,94,123);
    padding:10px 10px;
    margin: 20px 20px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
}

a.logIn:link{
    color:white;
    text-decoration: none;
}

a.logIn:hover{
    text-decoration: underline;
}

a.logIn:visited{
    color:white
}

.actionText>h2{
    color:white;
    font-size: 40px;
    margin: 5px;;
}

.frontBox>img{
    position: fixed;
    overflow: hidden;
    width: ;
}

#doitMobile{
    position: absolute;
    right: 40%;
    top:40%;
}

#doitDesktop{
    position: absolute;
    right:5%;
    top:10%;
    resize:horizontal;
}

.features {
    background-color: white;
    margin-top: 20px;
}

.actionText {
    position:absolute;
    top: 40%;
    left: 5%;
    z-index: 1;
}

.box {
    width: 20%;
    float: left;
    margin: 1%;
    height: 200px;
    border-radius: 20px;
    padding: 1%;
    text-align: center;
}



#wrap {
    width: 100%;
    height: 300px;
}

.box>h3{
    font-size: 25px;
    text-align: center;
    
}

.menu{
    background-color: lightgrey;
    width: 20%;
    left: 0%;
    float: left;
    height: 1000px;
    
}

.menu h2{
    position: relative;
    left: 10px;
    color: dimgrey;
    font-size: 25px;
    font-variant-caps: all-small-caps;
}

.menu li{
    position: relative;
    left: -10px;
}

#imageContainer {
    position: relative;
    overflow: hidden;
    height: inherit;
    z-index: 0;
}

#imageContainer img{
    
    transition-duration: .5s;
}

#imageContainer img:hover{
    transform:scale(1.05) translate(-10px);
}

.todo-input {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding:10px;
}


.screen {
    background-color: rgb(10, 94, 123);
    position: absolute;
    left: 20%;
    width:80%;
    padding: 10px;
    height: 1000px;
}

.List1 {
    position: relative;
    background-color: white;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 1px;
}

h4 {
    color: grey;
    text-decoration: underline;
    display: inline-flex;
}

.Lists select {
}

.sortertest {
    display: inline;
    
}

.Lists {
    margin: 10px;
}


